---
layout: splash
author_profile: false
title: "The cloud is a journey, not a destination"
entries_layout: grid
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/img/headers/clouds2.png
  actions:
    - label: "View my latest posts"
      url: "/year-archive/"
excerpt: "Why I created this site? Because the most effective way of learning is teaching others how to do it. Also, the time has come to repay the community for all of the knowledge I consumed over the years. Learn, share, execute!" 
---
<div class="feature__wrapper">
  {% for post in site.posts limit:3 %}
  <div class="feature__item">
    <div class="archive__item">      
        <div class="archive__item-teaser">
          {% if post.header.teaser %}
            {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
          {% else %}
            {% assign teaser = site.teaser %}
          {% endif %}
          <a href="{{ post.url | relative_url }}">
            <img src="{{ teaser | relative_url }}" alt=".">  
          </a>  
        </div>
      <div class="archive__item-body">
        {% if post.id %}
          {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
        {% else %}
          {% assign title = post.title %}
        {% endif %}
        <a href="{{ post.url | relative_url }}">
          <h2 class="archive__item-title">{{ title }}</h2>
        </a>
          <div class="archive__item-excerpt">
            {% assign factor = title.size | times: 2 %}
            {% assign size = 500 | minus: factor %}
            <p>{{ post.excerpt | markdownify | strip_html | truncate: size }}</p>
          </div>
          <p><a href="{{ post.url | relative_url }}" class="btn btn--primary">Read More</a></p>
      </div>
    </div>
  </div>
  {% endfor %}  
</div>

